.card {
  background-color: transparent;
  border: none;
  cursor:pointer;
}

.card > a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.card-img {
  object-fit: cover;
  height: 200px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575px) {
  .card-img {
    width: 100% !important;
    height: 300px !important;
  }
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .card-img-overlay {
    width: 100% !important;
    height: 300px !important;
  }
}

.card-img-overlay > p {
  font-size: 1rem !important;
  font-weight: 400;
  padding: 6px 10px;
  z-index: 999;
  color: white;
  border: 1.5px solid white;
}

.card-body {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 575px) {
  .card-body > div {
    width: 100% !important;
    height: 300px;
  }
}

.coming-soon-title {
  position: relative;
}

.card-body h5 {
  text-align: left;
  padding: 10px 0 0 0;
  font-size: 1.1rem;
}

.card-body-img {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.card-winery {
  width: 25% !important;
}

@media (max-width: 840px) {
  .card-winery {
    width: 33% !important;
  }
}

@media screen and (max-width: 575px) {
  .card-winery {
    width: 100% !important;
  }
  
}

.card-img-link {
  text-align: center;
  font-size: 1.2rem!important;
  color: white;
  opacity: 0;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 80%;
  transition: all 0.3s ease-in-out;
}

.card-body:hover .card-img-link {
  z-index: 999;
  opacity: 1;

}

.card-body:hover .card-img {
  filter: brightness(0.4); /* Oscurecer la imagen con hover */
}

